body {
    margin: 0;
    height: 100%;
    padding: 2rem;
    background-color: #1F2937;
    font-family: 'Inter', system-ui; 
    line-height: 1.5;
    text-align: center;    
    display: grid;
    place-content: center;
    min-height: 100dvh;
}

/*container*/
.container {
    position: relative;
}
    
   

.card {
   position: relative;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6943ff;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    line-height: 38px;
    letter-spacing: -0.84px;
    padding: 5px 15px 5px 15px;
    width: 500px;
    height: 285px;
    flex-shrink: 0;
    gap: 16px;
    letter-spacing: -0.5px;

}

.num-input {
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: transparent;
    color:#FFFFFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    width: 150px;
    max-width: 150px;
    height: 80px;
}

/*Style the appearance of the number input field*/
.num-input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

/*Remove the default appearance (style)*/
.num-input::-webkit-outer-spin-button,
.num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Remove focus outline */
.num-input:focus {
    outline: none;
}


/*button*/
#btn-convert {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   font-weight: 500;
   color: #3D3D3D;
   line-height: 24px;
   padding: 9px 27.5px;
   width: 115px;
   border:#FFFFFF solid 1px;
   border-radius: 5px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
   font-style: normal;
   transition: background-color 0.3s ease;
   cursor: pointer;

   }

   button:hover,
   button:focus {
   background-color: #C7BEF1; /* Example hover color */
   color: #FFFFFF;
}


/*main*/
.main {
    padding: 36px, 25px;
}


#length-el, #volume-el, #mass-el {
    color:white;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    

}



article {
    border-radius: 1px 0px 0px 0px;
    background: #273549;
    margin-bottom: 20px; 
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;

}



h2 {
    color: #C7BEF1;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    margin-bottom: 10px;
}


